/* Styling for desktop /laptop*/

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

caption {
  font-weight: bold;
  color: blue;
  text-transform: uppercase;
}

/* Now the responsive styling come to target smaller screen below 760px*/
@media (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* let hide the table header*/
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }

  /* now the table data should behave like a row*/
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;

    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "S/N";
  }
  td:nth-of-type(2):before {
    content: "First Name";
  }
  td:nth-of-type(3):before {
    content: "Second Name";
  }
  td:nth-of-type(4):before {
    content: "State";
  }
  td:nth-of-type(5):before {
    content: "Capital";
  }
  td:nth-of-type(6):before {
    content: "Local Govermnet";
  }
  td:nth-of-type(7):before {
    content: "Major Tribe";
  }
  td:nth-of-type(8):before {
    content: "Occupation";
  }
  td:nth-of-type(9):before {
    content: "Land Size";
  }
  td:nth-of-type(10):before {
    content: "Department";
  }
  td:nth-of-type(11):before {
    content: "Course of Study";
  }
  td:nth-of-type(12):before {
    content: "Year";
  }
}
